
body {
    background: #c0c0c0;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.section_left {
    float: left;
}

.section_right {
    float: right;
}

.body_holder {
    margin: 5rem .5rem;
    padding: 1rem;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #002580;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #cbd5db;
    padding: 1rem;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.container {
    box-shadow: 2px 2px 2px dimgrey;
    padding: 1rem;
}

.title-item {
    color: #1d1c9d;
    font-style: normal;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
}

.article-title {
    color: #444444;
}

.container-sep {
    background: khaki;
    height: 25%;
    width: 15%;
    padding: 2%;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
    /*box-shadow: 10px 2px 2px aqua;*/
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 12px;
}

.sell-img {
    height: 12cm;
    width: 10cm;
    margin-right: 16px;
    padding: 0.5rem;
}

.article-metadata {
    padding: .5rem;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.account-username {
    font-size: 1.5rem;
    color: #1d1c9d;
    font-style: italic;
    text-transform: lowercase;
}

 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 45%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}