{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'market/../../static/css/main.css' %}">

    {% if title %}
        <title>Bidding Store</title>
    {% else %}
        <title>Bidding Store</title>
    {% endif %}
</head>
<body class="body_holder">
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'market-home' %}">Bidding Store</a>
            <span class="navbar-toggle-icon"></span>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'market-home' %}">Home</a>
                </div>
                <!--Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="navbar-item nav-link" href="{% url 'product-create' %}">Sell</a>
                        <a class="navbar-item nav-link" href="#">Ticket shop</a>
                        <a class="navbar-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="navbar-item nav-link" href="{% url 'logout' %}">logout</a>
                    {% else %}
                        <a class="navbar-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="navbar-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tag }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-3">
            <div class="content-section">
                <h3>Sidebar</h3>
                <p class='text-muted'>Highlights</p>
                {% block content2 %}{% endblock %}
            </div>
        </div>
    </div>
</main>
<div class="footer">
    <div class="footer-bottom text-center">
        <div class="copyrights">
            <p> © 2019 Bid for your item. All Rights Reserved | Design by <a href="#"> Apeiron Analytics</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>