{% extends "market/base.html" %}
{% block content %}
    {% for post in object_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <!--<a class="mr-2" href="#"</a>-->
                    <p>{{ seller.user_name.id }}</p>
                    <small class="text-muted">{{ post.date_posted|date:"H:i:s; F d, Y" }}</small>
                    <p>{{ post.category }} category </p>
                </div>
                <p class="title-item title-item">
                    <a class="article-title" href="{% url 'product-detail' post.id %}">{{ post.title }}</a>
                </p>
                <article class="media content-section">
                    <img class="sell-img sell-img" src="{{ post.image.url }}">
                    <fieldset>
                        <p>{{ post.description }}</p>
                        <hr style="border: 2px solid blue;"/>
                        <p>The item will be in auction on:
                        <p><b> {{ post.sell_on }}</b></p>
                        <p> The item will be live for bidding for:
                        <p><b>{{ post.live_time }} Minutes</b></p>
                        <hr style="border: 2px solid grey;"/>
                        <p>seller's price:</p>
                        <p><label class="btn btn-outline-info mr-3">Ksh. {{ post.price }}</label></p>
                        <hr style="border: 2px solid grey;"/>
                        <p><a class="btn btn-outline-info mb-5" href="{% url 'bidder-list' post.id %}">Bidding table</a></p>
                    </fieldset>
                </article>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}