{% extends 'market/navigation_part.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
    <div class="column">
        <div class="card">
            <div class="article-metadata">
                {% if object.seller == user %}
                    <div>
                        <a class="btn btn-primary btn-sm mt-1 mb-1"
                           href="{% url 'product-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1"
                           href="{% url 'product-delete' object.id %}">Delete</a>
                    </div><br>
                {% endif %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="#">
                            {{ object.title }}, {{ object.category }} sold by {{ object.seller }}</a>
                    </div>
                    <div class="panel-body "><a href="#">
                        <img src="{{ object.image.url }}"
                             class="sell-img img-responsive" style="width:100%" alt="Image"> </a>
                        <div class="panel-footer " onload="countDownPart()">going live
                            on: {{ object.sell_on|date:"F d, H:i" }}</div>
                        <div class="panel-footer">
                            <a class="btn btn-info mbr-3" href="{% url 'bidder-list' object.id %}">
                                <b> check current bids </b> </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="#">{{ object.title }} Details</a>
                </div>
                <div class="panel-body ">
                    <p>{{ object.description }}</p>
                    <hr style="border: 2px solid blue;"/>
                    <p>The item will be in auction on: <b> {{ object.sell_on }}</b></p>

                    <p> the item goes live in
                    <p id="demo"></p> </p>
                    <p> The item will be live for bidding for:<b>{{ object.live_time }} Minutes</b></p>
                    <hr style="border: 2px solid grey;"/>
                    <p>seller's price:
                        <label class="btn btn-primary mr-3">Ksh. {{ object.price }}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a class="btn" href="{% url 'bidder-list' object.pk %}">
                        {{ object.title }} Bid Information </a>
                </div>
                <div class="panel-body ">
                    {% if bidder_list %}
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr bgcolor="#5f9ea0">
                                <th>Bidder's Name</th>
                                <th>Bid Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bid in bidder_list %}
                                <tr>
                                    <td>{{ bid.user_name }}</td>
                                    <td>Ksh. {{ bid.bid_amount }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        }
                    {% else %}
                        <h2 style="text-align: center; color: black">No bids!!</h2>
                        {% if object.seller != user %}
                            <fieldset>
                                <form class="" action="{% url 'create-bid' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="bid_amount" name="bid_amount"
                                               placeholder="Enter your bid amount:" required><br>
                                        <input type="hidden" value='{{ product_list.price }}' name="minimum_price"
                                               id="minimum_price">
                                        <input type="hidden" value="{{ product_list.sell_on }}" name="sell_on"
                                               id="sell_on">
                                        <input type="hidden" value='{{ product_list.id }}' name="product_id"
                                               id="product_id">
                                        <button class="btn btn-lg btn-block" type="submit">Bid</button>
                                    </div>
                                </form>
                            </fieldset>
                        {% else %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>


    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}


