{% extends 'market/base.html' %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block content %}
    <br><br>
    <div id="gallery">
        {% for product in product_list %}
            <div class="col-md-3 col-sm-4">
                <div class="profilePicture">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="img-responsive" alt="Image"></a>
                    <h3 class="text" style="background-color: black; color: white"><b>{{ product.product_name }}</b>
                    </h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
